@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../../assets/NanumSquareNeoOTF-Lt.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../../assets/NanumSquareNeoOTF-Rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../../assets/NanumSquareNeoOTF-Bd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../../assets/NanumSquareNeoOTF-Eb.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
