html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  font-family: 'NanumSquareNeo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: var(--app-height);
  overflow: hidden;
  overflow-x: hidden;
  max-width: 100vw;
}
