@layer utilities {
  .bg-grid-slate {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #94a3b8 1px, transparent 1px);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
  }

  @keyframes slide-in-down {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-in-down {
    animation: slide-in-down 0.25s ease-out;
  }

  @keyframes slide-in-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-in-up {
    animation: slide-in-up 0.25s ease-out;
  }
}
